# Basics 
- variables
- operators
- datatypes
- input/output

In [1]:
x=3
a,b=10,11
c=a+b

In [2]:
l=5
b=10
area=l*b

In [3]:
del x

# operators
- assignment
- arithmetic
- comparisson
- logical
- membership
- identity

In [4]:
#arithmetic + - * / % ** //
a=10
b=3

In [5]:
a+b

13

In [6]:
a-b

7

In [7]:
a*b

30

In [8]:
a/b

3.3333333333333335

In [9]:
print(a%b)
print(a**b)
print(a//b)

1
1000
3

In [10]:
#comparison > < >= <= == !=
x=120
y=290
print(x>y)
print(x<y)
print(x>=100)
print(x<=100)
print(x==100)
print(x!=100)

False
True
True
False
False
True

In [12]:
#logical -> and or not
print(x>10 and y>50)
print(x>10 and y<50)
print(x>10 or y<50)
print(x<10 or y<50)
print(not x>5)
print(not x<5)

True
False
True
False
False
True

In [14]:
#membership operators
l=[1,2,3,4,5,6,7]
print(5 in l)
print(10 in l)
print(3 not in l)
print(10 not in l)

True
False
False
True

In [15]:
#identity -> is, is not
a=[1,2,3,4]
b=a
c=[1,2,3,4]
print(a is b)
print(a is c)
print(b is not c)

True
False
True

# datatypes
- int (integer)
- float (real numbers)
- bool (boolean)
- str (string/text)
- NoneType (none)
- list
- tuple
- set
- dict (dictionary)

In [16]:
num=5
name="Paras gupta"  
pi=3.14159
sleepy=True
data=None
a_list=[1,2,3,4,5]
a_tuple=(1,2,3,4,5)
a_set={1,2,3,4,5}
a_dict={'a':10, 'b':20}

In [17]:
print(type(num))
print(type(name))

<class 'int'>
<class 'str'>