# Control Flow
### condition
- if
- if else
- if elif ladder
- match case
- nested if
### loops
- for loop
- while loop

In [1]:
# syntax 
"""
 if expression:
    statement 1
    statement 2
    ....
   statement n
 else:
    statement 1
    statement 2
"""

'\n if expression:\n    statement 1\n    statement 2\n    ....\n   statement n\n else:\n    statement 1\n    statement 2\n'

In [7]:
x=10
if x>=5:
    print("😋🍿 very nice")
y=2
if x>5 and y<5:
    print("🐛 no bug here")
name='Samriddhi'
if name:
    print("Name exists")

😋🍿 very nice
🐛 no bug here
Name exists

In [8]:
a='apple'
if len(a):
    print("a is not empty")
else:
    print("a is empty")

a is not empty

# IF ELIF LADDER

In [1]:
a=5
b=2
c=10
if a>b and a>c:
    print("A is the greatest")
elif b>a and b>c:
    print("B is the greatest")
else:
    print("C is the greatest")

C is the greatest

In [3]:
marks=int(input("Enter your marks:"))
if marks >=90:
    grades="A"
elif marks >=75:
    grades="B"
elif marks >=60:
    grades="C"
elif marks >=50:
    grades="D"
else:
    grades="F"
print(f"Students marks = {marks}")
print(f"Students grades = {grades}")

Students marks = 85
Students grades = B

# MATCH CASE

In [13]:
ans = input("Whta is the capital of India")
ans = ans.lower()
# string fncn to convert the entered statement to lower case
print(ans)
match ans:
    case 'lucknow':
        print("You are too stupid")
    case 'delhi' | 'Delhi':     
        # pipe represets 'OR' and is used for multiple conditions
        print("Correct answer")
    case 'calcutta':
        print("You must be living under a stone")
    case 'shimla':
        print("This is free India")
    case _:
        print("You are not from India")

lucknow
You are too stupid

In [14]:
print("Chai ki dukaan")
print("1. Chai 10 Rs")
print("2. Bun Makkhan 30 Rs")
print("3. Cutting 5 Rs")
print("4. Samosa 10 Rs")
choice = int(input("Enter your choice : "))
match choice:
    case 1:
        print("You have selected Chai")
    case 2:
        print("You have selected Bun Makkhan")
    case 3:
        print("You have selected Cutting")
    case 4:
        print("You have selected Samosa")
    case _:
        print("Invalid Choice")

Chai ki dukaan
1. Chai 10 Rs
2. Bun Makkhan 30 Rs
3. Cutting 5 Rs
4. Samosa 10 Rs
You have selected Bun Makkhan

# LOOPS
- step based loop ( for loop )
- condition based loop ( while loop )

`for loop syntax-----`

```python
for varname in iterable:
    statement 1
    statement 2
    ...
    statement n
```

`while loop syntax-----`

```python
while expression:
    statement 1
    statement 2
    ...
    statement n
```

In [1]:
numbers=[1,2,3,4,5]
for i in numbers:
    print(i)

1
2
3
4
5

In [2]:
brands=['apple','sony','lenovo','samsung']
for name in brands:
    print(name)

apple
sony
lenovo
samsung

# ITERABLES:
- list
- str
- tuple
- set
- dict
- range 
- generator
- lazy objects

In [3]:
word='JOURNEY'
for i in word:
    print(i)

J
O
U
R
N
E
Y

In [4]:
for i in {1,2,3,4,5,6}:
    print(i)

1
2
3
4
5
6

# RANGE Function:

```python
range(stop) : 0 to stop-1
range(start , stop) : start to stop-1
range(start , stop , step) : start to stop-1 with step
```

In [6]:
for i in range(10):
    print(i , end=' ')

0 1 2 3 4 5 6 7 8 9

In [9]:
# range only works with loops
for i in range(5,11):
    print(i , end=' ')

5 6 7 8 9 10

In [8]:
for i in range(10,0,-1):
    print(i , end=' ')

10 9 8 7 6 5 4 3 2 1

In [10]:
for i in range(-5,6):
    print(i , end=' ')

-5 -4 -3 -2 -1 0 1 2 3 4 5

In [12]:
# Sum of all numbers from 1 to 100
s=0
for i in range(1,101):
    s+=i
print(s)

5050

In [14]:
# alternative for above code
sum(list(range(1,101)))
# type casting range to list as range only works in loop

5050

In [15]:
# Find the largest word in the list
words=['ben','mohan','roy','soham','maniratnam']
word=''
for i in words:
    if len(i) > len(words):
        word=i
        # print(f"keeping {item} into word)
print(word)

maniratnam

# BREAK and CONTINUE features

In [17]:
for i in range(10):
    if i == 5:
        break
    print(i , end=' ')
print("\n The end")

0 1 2 3 4
 The end

In [24]:
data=[1,2,3,4,0,9,8,7,6]
for i in data:
    if i == 0:
        print("We found some crap")
        break
        # break function terminates the loop
    print(i)

1
2
3
4
We found some crap

In [23]:
data=[1,2,3,4,0,9,8,7,6]
for i in data:
    if i == 0:
        print("we found some crap")
        continue
        # continue function skips to next item
    print(i**2 )

1
4
9
16
we found some crap
81
64
49
36

`enumerate()` , `zip()` functions

In [25]:
fruits=['apple','banana','cherry','mango','orange']
# enumerate function gives two values first is the index 
# and other is the data
for idx,name in enumerate(fruits):
    print(idx , name)

0 apple
1 banana
2 cherry
3 mango
4 orange

In [26]:
numbers=[12,3,345,6,546,7]
for idx,num in enumerate(numbers):
    print(idx*num)

0
3
690
18
2184
35

In [29]:
x=[1,2,3,4,5]
y=[11,22,33,44,55]
for i,j in zip(x,y):
    print(i+j)

12
24
36
48
60

In [31]:
# zip function is used for multiple iterables in 
# a single loop which is not possible otherwise
x=[1,2,3]
y=[4,5,6]
z=[7,8,9,10]
for i,j,k in zip(x,y,z):
    print(i+j+k)
# the iterables can of either same or different types

12
15
18

In [32]:
# Count the number of vowels in the scentence
scentence= "This is a very good day"
count=0
for ch in scentence:
    if ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u':
        count+=1
print(count)

7

In [34]:
# Alernative for above code
scentence= "This is a very good day"
count=0
for ch in scentence:
    if ch in 'aeiouAEIOU':
        count+=1
print(count)

7